In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

In [3]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [4]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

In [5]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

586

In [6]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [7]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [8]:
# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime

In [ ]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | tasiilaq
Processing Record 2 of Set 1 | kimbe
Processing Record 3 of Set 1 | provideniya
Processing Record 4 of Set 1 | pevek
Processing Record 5 of Set 1 | vaini
Processing Record 6 of Set 1 | qaanaaq
Processing Record 7 of Set 1 | muscat
Processing Record 8 of Set 1 | manado
Processing Record 9 of Set 1 | busselton
Processing Record 10 of Set 1 | tsihombe
City not found. Skipping...
Processing Record 11 of Set 1 | rudnogorsk
Processing Record 12 of Set 1 | kavaratti
Processing Record 13 of Set 1 | opuwo
Processing Record 14 of Set 1 | punta arenas
Processing Record 15 of Set 1 | jamestown
Processing Record 16 of Set 1 | albany
Processing Record 17 of Set 1 | atuona
Processing Record 18 of Set 1 | makurdi
Processing Record 19 of Set 1 | taolanaro
City not found. Skipping...
Processing Record 20 of Set 1 | new norfolk
Processing Record 21 of Set 1 | matai
Processing Record 22 of Set 1 | dunedin

In [23]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Tasiilaq,65.6145,-37.6368,14.16,79,99,4.52,GL,2022-01-29 18:16:32
1,Kimbe,-5.5502,150.1429,76.06,93,100,2.19,PG,2022-01-29 18:16:32
2,Provideniya,64.3833,-173.3000,1.60,88,11,5.14,RU,2022-01-29 18:16:33
3,Pevek,69.7008,170.3133,-15.11,99,100,1.79,RU,2022-01-29 18:12:18
4,Vaini,-21.2000,-175.2000,81.45,78,100,17.63,TO,2022-01-29 18:16:33
5,Qaanaaq,77.4840,-69.3632,-6.92,61,70,9.15,GL,2022-01-29 18:15:18
6,Muscat,23.6139,58.5922,71.62,64,18,4.56,OM,2022-01-29 18:15:50
7,Manado,1.4870,124.8455,77.77,94,40,2.30,ID,2022-01-29 18:16:34
8,Busselton,-33.6500,115.3333,66.04,89,6,15.86,AU,2022-01-29 18:16:35
9,Rudnogorsk,57.2639,103.7519,-10.14,100,94,1.59,RU,2022-01-29 18:16:35

In [27]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
new_column_order = ["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]
city_data_df = city_data_df[new_column_order]
city_data_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Tasiilaq,GL,2022-01-29 18:16:32,65.6145,-37.6368,14.16,79,99,4.52
1,Kimbe,PG,2022-01-29 18:16:32,-5.5502,150.1429,76.06,93,100,2.19
2,Provideniya,RU,2022-01-29 18:16:33,64.3833,-173.3000,1.60,88,11,5.14
3,Pevek,RU,2022-01-29 18:12:18,69.7008,170.3133,-15.11,99,100,1.79
4,Vaini,TO,2022-01-29 18:16:33,-21.2000,-175.2000,81.45,78,100,17.63
5,Qaanaaq,GL,2022-01-29 18:15:18,77.4840,-69.3632,-6.92,61,70,9.15
6,Muscat,OM,2022-01-29 18:15:50,23.6139,58.5922,71.62,64,18,4.56
7,Manado,ID,2022-01-29 18:16:34,1.4870,124.8455,77.77,94,40,2.30
8,Busselton,AU,2022-01-29 18:16:35,-33.6500,115.3333,66.04,89,6,15.86
9,Rudnogorsk,RU,2022-01-29 18:16:35,57.2639,103.7519,-10.14,100,94,1.59

In [28]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")