## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,City Description,Lat,Lng,Hotel Name
0,0,Kapaa,US,66.18,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,1,Punta Arenas,CL,66.31,broken clouds,-53.1500,-70.9167,Hotel Hain
2,3,Camacha,PT,66.52,few clouds,33.0833,-16.3333,Hotel Porto Santo & Spa
3,5,Lubango,AO,69.13,overcast clouds,-14.9172,13.4925,Hotel Serra da Chela
4,7,Busselton,AU,68.04,clear sky,-33.6500,115.3333,Observatory Guest House

In [5]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>City Description</dt><dd>{City Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
print(vacation_df)

     City_ID           City Country  Max Temp City Description      Lat  \
0          0          Kapaa      US     66.18       few clouds  22.0752
1          1   Punta Arenas      CL     66.31    broken clouds -53.1500
2          3        Camacha      PT     66.52       few clouds  33.0833
3          5        Lubango      AO     69.13  overcast clouds -14.9172
4          7      Busselton      AU     68.04        clear sky -33.6500
..       ...            ...     ...       ...              ...      ...
257      660           Nago      JP     59.07  overcast clouds  26.5881
258      663       Bhilwara      IN     58.95        clear sky  25.3500
259      664  Nakhon Phanom      TH     59.92    broken clouds  17.3333
260      667           Moca      DO     72.59    broken clouds  19.5000
261      670     Pathalgaon      IN     55.92        clear sky  22.5667

          Lng                           Hotel Name
0   -159.3190  Sheraton Kauai Coconut Beach Resort
1    -70.9167                           Hotel Hain
2    -16.3333              Hotel Porto Santo & Spa
3     13.4925                 Hotel Serra da Chela
4    115.3333              Observatory Guest House
..        ...                                  ...
257  127.9761              Hotel Yugaf Inn Okinawa
258   74.6333    Ranbanka Heritage Resort Bhilwara
259  104.4167                        ป่ายางรีสอร์ท
260  -70.5000                             La Aldea
261   83.4667          Queens Park Marriage Garden

[262 rows x 8 columns]

In [12]:
import gmaps
gmaps.configure(g_key)

marker_locations = [
    (-34.5322,20.040),
    (-33.5906,26.891),
    (-33.0153,27.9116),
    (-25.0978,30.4597),
]

fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# Bredasdorp,ZA, Port Alfred,ZA, East London,ZA, Lydenburg,ZA
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Bredasdorp"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Bredasdorp"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Port Alfred"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "East London"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Lydenburg"]

In [25]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]
print(f'Start:{start}, End:{end}')
print(f'Stop 1:{stop1}, Stop 2:{stop2}, Stop 3:{stop3}')

Start:(-34.5322, 20.0403), End:(-34.5322, 20.0403)
Stop 1:(-33.5906, 26.891), Stop 2:(-33.0153, 27.9116), Stop 3:(-25.0978, 30.4597)

In [26]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
ZAitinerary = gmaps.directions_layer(
    start, end, waypoints=[stop1, stop2, stop3],
    travel_mode ='DRIVING')
fig.add_layer(ZAitinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,City Description,Lat,Lng,Hotel Name
0,56,Bredasdorp,ZA,74.28,scattered clouds,-34.5322,20.0403,Bredasdorp Country Manor
1,71,Port Alfred,ZA,70.27,overcast clouds,-33.5906,26.8910,The Halyards Hotel
2,105,East London,ZA,67.14,mist,-33.0153,27.9116,Tu Casa
3,159,Lydenburg,ZA,62.28,scattered clouds,-25.0978,30.4597,The Palms Boutique Hotel
4,56,Bredasdorp,ZA,74.28,scattered clouds,-34.5322,20.0403,Bredasdorp Country Manor

In [51]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>City Description</dt><dd>{City Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [52]:
# 11a. Add a marker layer for each city to the map.
# 11b. Display the figure
import gmaps
gmaps.configure(g_key)

marker_locations = [
    (-34.5322,20.040),
    (-33.5906,26.891),
    (-33.0153,27.9116),
    (-25.0978,30.4597),
]
locations = itinerary_df[["Lat", "Lng"]]
hotel = itinerary_df["Hotel Name"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))